<div class="center hero-unit">
	<h1>Ten4Ten</h1>
	<h2>Your best, right now.</h2>
	<%= link_to "Sing up", '#', class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("t4t.png", alt: "ten4ten"), 'http://ten4ten.com' %>