<footer class="footer">
  <small>
    <%= link_to "TEN4TEN", root_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Blog", "http://blog.ten4ten.com/" %></li>
    </ul>
  </nav>
</footer>